@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* SECCION DE INICIO */
@import url(styles/styleInicio.css);
/* SECCION SOBRE MI */
@import url(styles/styleSobreMi.css);
/* SECCION HABILIDADES */
@import url(styles/styleHabilidades.css);
/* SECCION CURRICULUM */
@import url(styles/styleCurriculum.css);
/* SECCION PROYECTOS */
@import url(styles/styleProyectos.css);
/* SECCION DE CONTACTO */
@import url(styles/styleContacto.css);
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin:0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}
/* SECCION HEADER */
.contenedor-header{
    background: #1e2326;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 99;
}
.contenedor-header header{
    
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family:'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color: #fff;
    padding:5px 10px;
    border-radius: 5px;
    cursor:pointer;
    display:none;
}
#copiedMessage {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #1CB698;
    color: white;
    border-radius: 5px;
}

/* FOOTER */
footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin:40px 5px ;
    font-size: 20px;
    transition: .3s;     
    cursor: pointer;
}
footer .redes a:hover{ /*Cuando se posa por encma del icono de Redes*/
    background-color: #1CB698;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-20%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
     .nav-responsive{
        display: block;
    }
     nav.responsive{
        display: block;
        position: relative;
        right: 0;
        top: 100px;
        background-color: #252a2e;
        width: 180px;
    }

     nav.responsive ul{
        display: block !important;
    }
     nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobreMi .fila{
        display: block;
    }
    .sobreMi .fila .col{
         width: fit-content;
    }
    .skills .fila{
        display: block;
    }

    .skill .fila .col{
        width: 100%;
    }
    .skill .fila .col .barra-skill{
        width: 100%;
    }
    .cv .fila{
        display: block;
    }
     .cv .fila .col{
        margin-left: 20px;
    }
    .cv .fila .derecha{
        margin-left: 20px;
    }
    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .proyecto{
        max-width: 100%;
    }
    .proyectos .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }

}